<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>主页</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="asserts/css/base.css" th:herf="@{/asserts/css/base.css}">
    <link rel="stylesheet" href="asserts/css/vendor.css" th:herf="@{/asserts/css/vendor.css}">
    <link rel="stylesheet" href="asserts/css/main.css" th:herf="@{/asserts/css/main.css}">

    <!-- script
    ================================================== -->
    <script src="asserts/js/modernizr.js" th:src="@{/asserts/js/modernizr.js}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" th:herf="@{/apple-touch-icon.png}">
    <link rel="icon" type="asserts/image/png" sizes="32x32" href="favicon-32x32.png" th:herf="@{/favicon-32x32.png}" >
    <link rel="icon" type="asserts/image/png" sizes="16x16" href="favicon-16x16.png" th:herf="@{/favicon-16x16.png}">
    <link rel="manifest" href="site.webmanifest" th:herf="@{/site.webmanifest}">
	
	<!-- css files -->
	<link href="asserts/css/bootstrap.css" th:herf="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"  /><!-- bootstrap css -->
	<link href="asserts/css/font-awesome.min.css" th:herf="@{/asserts/css/font-awesome.min.css}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<link href="asserts/css/css_slider.css" th:herf="@{/asserts/css/css_slider.css}" type="text/css" rel="stylesheet" media="all">
	
	<!-- google fonts -->
	<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	 --><!-- //google fonts -->
	
</head>

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="index.html">
                        <img src="asserts/images/logo.svg" th:src="@{asserts/images/logo.svg}" alt="Homepage">
                    </a>
                </div>

                <div class="header__search">
    
                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">查找:</span>
                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="header__search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__search-close">Close</a>
        
                </div>  <!-- end header__search -->

                <!-- toggles -->
                <a href="#0" class="header__search-trigger"></a>
                <a href="#0" class="header__menu-toggle"><span>菜单</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap" th:fragment="menu">

                <ul class="header__nav">
                    <li class="current"><a href="index.html" title="">主页</a></li>
                    <li class="has-children">
                        <a href="#0" title="">用户</a>
                        <ul class="sub-menu">
                        <li><a href="listUser.html" th:href="@{/listUser.html}">查看用户</a></li>
                        <li><a href="addUser.html" th:href="@{/addUser.html}">添加用户</a></li>
                        </ul>
                    </li>
					<li class="has-children">
					    <a href="#0" title="">信息</a>
					    <ul class="sub-menu">
					    <li><a href="addGoods.html" th:href="@{/addGoods.html}">发布信息</a></li>
					    <li><a href="listMyGoods.html" th:href="@{/listMyGoods.html}">我的发布</a></li>
					    </ul>
					</li>
					<li class="has-children">
					    <a href="#0" title="">公告</a>
					    <ul class="sub-menu">
					    <li><a href="addBulletin.html" th:href="@{/addBulletin.html}">发布公告</a></li>
					    <li><a href="listBulletin.html" th:href="@{/listBulletin.html}">查看公告</a></li>
					    </ul>
					</li>
                    <li><a href="page-about.html" title="">系统信息公布</a></li>
					<li class="has-children">
					    <a href="#0" title="">留言板</a>
					    <ul class="sub-menu">
					    <li><a href="addContact.html">查看留言板</a></li>
					    <li><a href="addContact.html" th:href="@{/addContact.html}">填写留言</a></li>
					    </ul>
					</li>
					<li class="has-children">
					    <a href="#0" title="">账号</a>
					    <ul class="sub-menu">
					    <li><a href="updateSelfUser.html">更改账号信息</a></li>
					    <li><a href="ligout.html">注销登陆</a></li>
					    </ul>
					</li>
                </ul> <!-- end header__nav -->

            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->

        <div class="row">
        <!-- 失物招领信息展示div -->
        <div class="col-lg-3 col-sm-6" style="font-size:15px;" th:action="@{/index.html}" th:each="goods:${glist}" >
        	<div class="image-tour position-relative" >
        		<!-- 物品的图片 -->
        		<img src="asserts/images/p1.jpg" th:src="@{'asserts/goods/'+${goods.getGoodsImg()}}" alt="" class="img-fluid" />
        		<p><span class="fa fa-tags" th:text="${goods.goodsKinds}?'招领':'失物'" ></span> </p>
        	</div>
        	<div class="package-info">
        		<h6 class="mt-1" th:text="${goods.goodsSite}"><span class="fa fa-map-marker mr-2"></span>地点</h6>
        		<a th:href="@{/getit(id=${goods.getGoodsId()})}" ><h5 class="my-2" th:text="${goods.goodsKinds}?'认领':'帮助'" >  </h5></a>
        		<p class="" th:text="${goods.goodsInfo}">物品infos</p>
        		<p class="" th:text="${#dates.format(goods.getGoodsTime(),'yyyy-MM-dd HH:mm:ss')}">时间</p>
        		<h5 class="my-2" > <a th:href="@{/reportToaAministrators(id=${goods.getGoodsId()})}">举报</a> </h5>
        		<ul class="listing mt-3">
        			<li><span class="fa fa-clock-o mr-2" ></span>联系 : <span th:text="${goods.getGoodsMaster()}">联系人联系方式</span></li>
        		</ul>
        	</div>
        </div>
        </div> <!-- end s-content -->
	</div>
	<script src="asserts/js/jquery-3.2.1.min.js" th:src="@{/asserts/js/jquery-3.2.1.min.js}"></script>
	<script src="asserts/js/plugins.js" th:src="@{/asserts/js/plugins.js}"></script>
	<script src="asserts/js/main.js" th:src="@{/asserts/js/main.js}"></script>
</body>

</html>