<!DOCTYPE html>
<html>	
<head>
<title>密码找回</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="asserts/css/style1.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
 <!--SIGN UP-->
 <h1>找回密码</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="asserts/images/avtar.png" />
	</div>
			<form action="recoverPsd.action" th:action="@{/recoverPsd.action}" method="post">
					<input type="text" name="userid" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '学号';}" >
					<input type="text" name="userEmail" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}" >
						<div class="key">
					<input type="password" value="Password" name="userpassword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '新密码';}">
						</div>
						<h3 th:if="${error!=null}" th:title="${error}"></h3>
						<p  ></p>
						<a href="login.html" th:href="@{/login.html}">返回登陆</a>
					<div class="signin">
						<input type="submit" value="提交" >
					</div>
			</form>
</div>

</body>
</html>